<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suming.kotlindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataTypeActivity"/>
        <activity android:name=".blog.ExampleActivity"/>
        <activity android:name=".blog.KExampleActivity"/>
        <activity android:name=".blog.BaseGrammarActivity"/>
        <activity android:name=".blog.DataTypeActivity"/>
        <activity android:name=".blog.LogicControlGrammarActivity"/>
        <activity android:name=".blog.EmptyJudgmentActivity"/>
        <activity android:name=".blog.FunctionActivity"/>
        <activity android:name=".blog.ClassInheritanceActivity"/>
        <activity android:name=".blog.GetSetActivity"/>
        <activity android:name=".blog.ImportsPackagesActivity"/>
        <activity android:name=".blog.InterfacesActivity"/>
        <activity android:name=".blog.ModifierActivity"/>
        <activity android:name=".blog.ExtensionsActivity"/>
        <activity android:name=".blog.DataClassActivity"/>
        <activity android:name=".blog.SealedClassActivity"/>
        <activity android:name=".blog.GenericsActivity"/>
        <activity android:name=".blog.NestInnerActivity"/>
        <activity android:name=".blog.EnumActivity"/>
        <activity android:name=".blog.ObjectActivity"/>
        <activity android:name=".blog.TypeAliasesActivity"/>
    </application>

</manifest>