<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suming.kotlindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataTypeActivity"></activity>
        <activity android:name=".blog.ExampleActivity"></activity>
        <activity android:name=".blog.KExampleActivity"></activity>
        <activity android:name=".blog.BaseGrammarActivity"></activity>
        <activity android:name=".blog.DataTypeActivity"></activity>
        <activity android:name=".blog.LogicControlGrammarActivity"></activity>
        <activity android:name=".blog.EmptyJudgmentActivity"></activity>
        <activity android:name=".blog.FunctionActivity"></activity>
        <activity android:name=".blog.ClassInheritanceActivity"></activity>
        <activity android:name=".blog.GetSetActivity"></activity>
        <activity android:name=".blog.ImportsPackagesActivity"></activity>
    </application>

</manifest>